// header-----start
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  .navbar-nav {
    gap: 24px;
    @media only screen and (max-width: 1200px) {
      gap: 14px;
    }
  }
  .nav-item {
    font-size: 16px;
    font-weight: 500;
  }
  img {
    width: 250px;
  }
  .cta-btn {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    transition: 0.5s;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .link {
    text-decoration: none;
    position: relative;
    transition: transform 0.1s ease-in-out;
  }

  .link::before,
  .link::after {
    content: "";
    position: absolute;
    background-color: rgba(44, 44, 44, 0.72);
    transition: transform 0.5s;
  }

  /* LINK 1 CODE STARTS HERE */
  .link1::after {
    left: 0;
    width: 100%;
    height: 1px;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
  }
  .link1:hover::after {
    transform: scaleX(1);
  }
  @media only screen and (max-width: 1400px) {
    .nav-item {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 768px) {
    img {
      width: 160px;
    }
  }
}
.fixed-navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  box-shadow: 0px 5px 53px -13px #d4d0d0;
}
.offcanvas {
  z-index: 9999;
  img {
    width: 160px;
  }
}
// header-----end

// footer -------- start
footer {
  box-shadow: 1px -10px 20px 0px rgba(123, 116, 134, 0.164);
  padding: 50px 0;
  position: relative;
  background-color: #e6e6e6;
  .logo {
    width: 250px;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p,
  a {
    font-size: 16px;
    font-weight: 600;
  }
  ul {
    padding: 0;
    li {
      margin-bottom: 10px;
      a {
        color: #797979;
        transition: 0.5s;
        &:hover {
          color: #000000;
        }
      }
    }
  }
  .social-icons {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .cta {
    h5 {
      font-size: 18px;
      font-weight: bold;
    }
    li {
      display: flex;
      gap: 10px;
    }
    img {
      width: 22px;
      height: 22px;
    }
  }

  @media only screen and (max-width: 768px) {
    .logo {
      width: 160px;
    }
    p,
    a {
      font-size: 14px;
    }
  }
  &::after {
    content: url("../../public/footer-background.png");
    position: absolute;
    top: 0;
    left: 14%;
    z-index: -1;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

// footer -------- end
