.catalogues-page {
  .banner img {
    width: 100%;
  }
  .top-section {
    max-width: 770px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 600;
      text-transform: capitalize;
      padding-bottom: 60px;
      position: relative;

      &::after {
        content: "";
        width: 120px;
        height: 2px;
        background-color: $black;
        position: absolute;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      color: #4d4d4d;
    }
    @media only screen and (max-width: 768px) {
      h2 {
        font-size: 28px;
        padding-bottom: 40px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  .catalouge-items {
    .catalouge-item {
      $space: 30px;

      height: 460px;
      border-radius: 19px;
      position: relative;
      top: 0;
      overflow: hidden;
      .bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
        position: absolute;
        z-index: -1;
        transition: 0.8s ease-in-out;
      }
      h4 {
        color: #fff;
        display: inline-block;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        top: $space;
        left: $space;
        &.black {
          color: $black;
        }
      }
      a {
        display: inline-block;
        width: 48px;
        aspect-ratio: 1/1;
        border-radius: 60px;
        background-color: #ffffff;
        display: grid;
        place-items: center;
        position: absolute;
        bottom: $space;
        right: $space;
      }
      &:hover {
        a {
          animation: MoveUpDown 2s ease-in-out infinite;
          -webkit-animation: MoveUpDown 2s ease-in-out infinite;
        }
        .bg-img {
          transform: scale(1.02);
        }
      }
      @keyframes MoveUpDown {
        0%,
        100% {
          bottom: $space;
        }
        45% {
          bottom: calc($space + $space);
        }
      }
      @media only screen and (max-width: 768px) {
        height: 320px;
        h4 {
          font-size: 26px;
        }
      }
    }
  }
}
