@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

//****** variables *******//
$primary-color: #4cba47;
$secondary-color: #337ed0;
$white: #ffffff;
$black: #000000;
//****** variables *******//

//****** tags *******//
// p,
// ul,
// li,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
//   padding: 0;
//   font-family: "Plus Jakarta Sans", sans-serif;
// }
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  border: none;
  outline: none;
}
section {
  margin-bottom: 80px;
  @media only screen and (max-width: 992px) {
    margin-bottom: 60px;
  }
  @media only screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}

h2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  span {
    font-style: italic;
    color: $secondary-color;
  }
}
// p {
//   font-size: camp(16px, 2vw, 18px);
// }
@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 26px;
  }
}
//****** tags *******//

//****** elements *******//
.btn-a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 50px;
  border: 1px solid $primary-color;
  color: $white;
  background-color: $primary-color;
  transition: 0.5s;
  // &:hover {
  //   background-color: $primary-color;
  //   color: #fff;
  // }
}
.btn-b {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 50px;
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: transparent;
  transition: 0.5s;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    padding: 8px 32px;
  }
}
//****** elements *******//
.p-btn {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;

  .play-btn {
    z-index: 3;
    @media screen and (max-width: 576px) {
      width: 60px;
      height: 60px;
    }
  }
  .circle {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #fff;
  }
}
.p-btn .circle.c1 {
  z-index: 2;
  -webkit-animation: waves 2.5s linear 0.1s infinite;
  animation: waves 2.5s linear 0.1s infinite;
}
.p-btn .circle.c2 {
  z-index: 1;
  -webkit-animation: waves 2.5s linear 1.4s infinite;
  animation: waves 2.5s linear 1.4s infinite;
}
/* .hero-sec .img-block .p-btn {} */

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
