.contact-page {
  form {
    max-width: 1080px;
    margin: 0 auto;
    h3 {
      text-align: center;
      font-size: 60px;
      font-weight: 600;
      color: black;
      margin-bottom: 20px;
    }
    textarea,
    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid #b6b6b6;
    }
    button {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 14px 40px;
      margin: 0 auto;
      border-radius: 50px;
      border: 1px solid $black;
      color: $black;
      background-color: transparent;
      transition: 0.5s;
      //   &:hover {
      //     background-color: $primary-color;
      //     color: #fff;
      //   }
    }
  }
}
