// .home {
// }
.home-banner {
  padding-bottom: 50px;
  .content {
    h1 {
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 1rem;
      span {
        font-style: italic;
        color: $secondary-color;
      }
    }
    & > p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 2.5rem;
    }
    .btn-a {
      padding: 14px 57px;
    }
    .card-a {
      gap: 12px;

      h4 {
        font-size: 16px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
      }
      .icon {
        flex-shrink: 0;
        display: grid;
        place-items: center;
        width: 52px !important;
        height: 52px !important;
        border-radius: 52px;
        // padding: 14px;
        background-color: $primary-color;
        img {
          width: 28px;
          height: 28px !important;
          object-fit: contain;
          object-position: center;
          height: auto;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .content {
      padding-top: 50px;
      h1 {
        font-size: 32px;
        margin-bottom: 3rem;
      }
      .btn-b,
      .btn-a {
        padding: 8px 30px;
      }
    }
  }
  @media only screen and (max-width: 575px) {
    .content {
      .btn-b,
      .btn-a {
        padding: 8px 20px;
      }
    }
  }
}

.home-about {
  padding-top: 30px;
  h2 {
    text-transform: uppercase;
    max-width: 600px;
  }
  p {
    font-size: 14px;
    max-width: 500px;
  }
  .bg-img {
    width: 260px;
    height: auto;
  }
  .about-card {
    position: relative;
    // border-top: 2px solid #d0d0d0;
    padding-top: 24px;

    font-family: "Urbanist", sans-serif;
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      width: 70px;
      height: 4px;
      background-color: $secondary-color;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      width: 100%;
      height: 2px;
      background-color: #d0d0d0;
    }
    h5 {
      color: #a0a0a0;
      // margin: 0;
    }
    h4 {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      line-height: 24px;
    }
  }
  @media screen and (max-width: 768px) {
    .about-card {
      h5 {
        margin-bottom: 10px;
      }
      h4 {
        font-size: 28px;
      }
      &::after {
        width: 40px;
      }
      &::before {
        width: 50%;
      }
    }
  }
}

// service----- start
.home-service {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section-label {
      font-size: 14px;
      padding: 8px 20px;
      border-radius: 50px;
      background-color: #ecf6eb;
    }
    h2 {
      text-align: center;
      max-width: 850px;
    }
  }
  .service-card {
    position: relative;
    img {
      width: 100%;
      height: 612px;
      object-fit: cover;
      object-position: center;
      z-index: 2;
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      z-index: 5;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      & > div {
        width: 65%;
      }
      h5 {
        font-size: 48px;
        font-weight: 600;
        text-align: left;
      }
      h6 {
        font-size: 48px;
        font-weight: 300;
        font-style: italic;
        text-align: right;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .service-card {
      img {
        height: 580px;
      }

      .content {
        h5 {
          font-size: 42px;
        }
        h6 {
          font-size: 42px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .service-card {
      .content {
        h5 {
          font-size: 38px;
        }
        h6 {
          font-size: 38px;
        }
      }
    }
  }
}
// service----- end

// projects----- start
.home-projects {
  padding-top: 30px;
  .top {
    display: flex;
    justify-content: space-between;
    // margin-bottom: -60px;
    .p-btn {
      &-a {
        width: 48px;
        height: 48px;
        border-radius: 50px;
        border: 1px solid $black;
        background-color: transparent;
      }
      &-b {
        width: 48px;
        height: 48px;
        border-radius: 50px;
        border: 1px solid $primary-color;
        background-color: $primary-color;
      }
    }
  }
  .card-outer {
    position: relative;
    padding-top: 100px;
    aspect-ratio: 373/610;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    .project-card {
      position: absolute;
      padding-left: 30px;
      img {
        width: 100%;
        aspect-ratio: 373/560;
        object-fit: cover;
        object-position: center;
      }
      .content {
        p {
          font-size: 14px;
          padding-top: 20px;
        }
      }
    }
  }

  .card-outer:hover {
    padding-top: 0px;
    // .project-card {
    //   top: 0px;

    // }
  }

  // .slick-slide {
  //   margin: 0 20px;
  // }
  // .slick-list {
  //   margin: 0 -20px;
  // }
  @media screen and (max-width: 768px) {
    margin-bottom: 36px;
  }
}
// projects----- end

// home-video----- start

.home-video {
  .video {
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000038;
      z-index: 1;
    }
  }
  .thumb {
    width: 100%;
  }
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 2;
  }
  @media only screen and (max-width: 768px) {
    .video {
      .play {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
// home-video----- end

// home-blog----- start
.home-blog {
  .top {
    display: flex;
    justify-content: center;
    h2 {
      text-align: center;
      max-width: 760px;
    }
  }
}
// home-blog----- end

// home-home-gtc----- end
.home-gtc {
  a {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 48px;
    text-transform: uppercase;
  }
  @media screen and (max-width: 768px) {
    a {
      font-size: 16px;
    }
    .arrow img {
      width: 24px;
      height: 24px;
    }
  }
}
// home-home-gtc----- end
